body {
    background-color: #d0e5da;
}

nav{
    width: 100%;
    height: 100px;
    background: rgba(19, 157, 142, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
    float: left;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    line-height: 100px;

}
#logo{
    height: 100px;
}

h1 {
    color: #000C2C;
    font-size: 50;
    -webkit-text-stroke: solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d0e5da;
}
#artikel1 {
    background-color: #f89d0e;
    width: 47.5%;
    height: 80%;
    float: left;
    margin: 10px;
    margin-top: 50px;
}
#artikel2 {
    background-color: #f89d0e;
    width: 47.5%;
    height: 80%;
    float: right;
    margin: 10px;
    margin-top: 50px;
}
#actueel_banner {
    width: 100%;
    height: 200px;
}
#actueel_titel {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    bottom: 200px;
    position: relative;
}
#act_banner {
    width: 100%;
    height: 200px;
}