body {
    background-color: #d0e5da;
    margin: 0px;
}

nav{
    width: 100%;
    height: 100px;
    background: rgba(19, 157, 142, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
    float: left;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    line-height: 100px;

}
#logo{
    height: 100px;
}

h1 {
    color: rgba(0, 12, 44);
    font-size: 100;
    -webkit-text-stroke: solid;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(208, 229, 218);
}
#artikel1 {
    background-color: rgba(248, 157, 14, 0.7);
    position: relative;
    width: 47.5%;
    height: 80%;
    float: left;
    margin: 10px;
}
#img1 {
    margin: 10px;
    float: left;
}
#artikel_titel1 {
    position: relative;
    top: 10px
}
#artikel2 {
    background-color: rgba(248, 157, 14, 0.7);
    width: 47.5%;
    height: 80%;
    float: right;
    margin: 10px;
}
#img2 {
    margin: 10px;
    float: left;
}
#artikel_titel2 {
    position: relative;
    top: 10px
}
#actueel_banner {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
#actueel_titel {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    bottom: 200px;
    position: relative;
}
#act_banner {
    width: 100%;
    height: 400px;
}