@font-face {
    font-family: 'Baskerville';
    src: url('../media/Font/Baskerville.ttc');
} 
body {
    margin: 0;
    background-color: #d0e5da;
    font-family: 'Baskerville';
}


nav{
    width: 100%;
    height: 100px;
    background: rgba(19, 157, 142, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
    float: left;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    line-height: 100px;
}
#logo{
    height: 100px;
}
.alles{
    font-family: 'Baskerville';
    padding: 0 20px;
}
h1{
    padding: 0 20px;
    font-family: 'Baskerville';
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#persoon1{
    position: relative;
    width: 47.5%;
    height: 50%;
    float: left;
    margin: 10px;
}
#persoon2{
    position: relative;
    width: 47.5%;
    height: 50%;
    float: left;
    margin: 10px;
}
#persoon3{
    position: relative;
    width: 47.5%;
    height: 50%;
    float: left;
    margin: 10px;
}
#persoon4{
    width: 47.5%;
    height: 50%;
    float: right;
    margin: 10px;
}
#persoon5{
    position: relative;
    width: 47.5%;
    height: 50%;
    float: left;
    margin: 10px;
}
#persoon6{
    width: 47.5%;
    height: 50%;
    float: right;
    margin: 10px;
}
#bannerimage{
    position: relative;
    top: -110px;
    margin: 0;
    width: 100%;
    z-index: 5  ;
}
#foto1{
height: 100px;
}
#foto2{
height: 100px;
}
#foto3{
height: 100px;
}
#foto4{
height: 100px;
}
#foto5{
height: 100px;
}
#foto6{
height: 100px;
}

#ster1{
height: 70px;
}
#ster2{
height: 25px;
}
#ster3{
height: 70px;
}
#ster4{
height: 70px;
}
#ster5{
height: 25px;
}
#ster6{
height: 70px;
}

