@font-face {
    font-family: 'Baskerville';
    src: url('../media/Font/Baskerville.ttc');
} 
body {
    margin: 0;
    background-color: #d0e5da;
    font-family: 'Baskerville';
}

body {
    margin: 0;
    background-color: #d0e5da;
    font-family: 'Baskerville';
}
nav{
    width: 100%;
    height: 100px;
    background: rgba(19, 157, 142, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
    float: left;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: 'Baskerville';
    display: block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    line-height: 100px;

}
#logo{
    height: 100px;
}
h1 {
    color: rgba(19, 157, 142, 1);
    margin-top: -100px;
    z-index: 5;
    font-size: 100px;
    align-self: center;
    text-shadow: 5px 5px 10px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#shop_banner {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    top: 0px;
}
#sho_banner {
    width: 100%;
    height: 500px;
    box-shadow: 5px 5px 10px black;
    margin-top: -150px;
}
#shop_titel {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    bottom: 200px;
    position: relative;
}
#item1 {
    height: 150px;
    width: 80%;
    background-color: rgba(248, 157, 14, 0.7);
    box-shadow: 5px 5px 10px black;
    margin: auto;
    margin-top: 10px;
}
#item2 {
    height: 150px;
    width: 80%;
    background-color: rgba(248, 157, 14, 0.7);
    box-shadow: 5px 5px 10px black;
    margin: auto;
    margin-top: 10px;
}
#item3 {
    height: 150px;
    width: 80%;
    background-color: rgba(248, 157, 14, 0.7);
    box-shadow: 5px 5px 10px black;
    margin: auto;
    margin-top: 10px;
}
#item4 {
    height: 150px;
    width: 80%;
    background-color: rgba(248, 157, 14, 0.7);  
    box-shadow: 5px 5px 10px black;  
    margin: auto;
    margin-top: 10px;
    top: 300px;
}
.item {
    float: left;
    height: 130px;
    margin: 10px;
}
.beschrijving {
    float: left;
    margin: 10px;
}
.prijs {
    float: right;
    margin: 10px;
}