@font-face {
    font-family: 'Baskerville';
    src: url('../media/Font/Baskerville.ttc');
} 
body {
    margin: 0;
    background-color: #d0e5da;
    font-family: 'Baskerville';
}


nav{
    width: 100%;
    height: 100px;
    background: rgba(19, 157, 142, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
    float: left;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    line-height: 100px;

}
#logo{
    height: 100px;
}
#form{
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}

#footer{
    background: rgba(19, 157, 142, .8);
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
    position:relative;
    bottom:-700px;
    height:90px;
}
h1{
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#bannerimage{
    position: relative;
    top: -110px;
    margin: 0;
    width: 100%;
    z-index: 5  ;
}